# IDEs
.classpath
.project
.settings/
.idea/
*.iml

# Java, Maven, Gradle
bin/
target/
*.class
.gradle/
build/
out/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# osx
.DS_Store
logs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
